main {
    min-height: 100vh;
<<<<<<< HEAD
}
h1 {
    padding-top: 150px;
=======
    display: grid;
    grid-template-rows: 150px auto 30px;
    grid-template-columns: 30px auto 30px;
}
form {
    grid-column: 2;
    grid-row: 2;
    background-color: grey;
    padding: 20px;
    display: grid;
    grid-template-rows: auto repeat(6, auto) 50px;
    border-radius: 20px;
    place-items: center;
    align-self: center;
    justify-self: center;
}
form div {
    display: grid;
    width: 100%;
}
form div div {
    display: flex;
    gap: 5px;
    justify-content: center;
}
form div div label {
    padding-right: 20px;
}
form h1 {
    text-align: center;
}
.btns {
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}
.btns button {
    border-radius: 10px;
    border: 1px solid black;
}
input {
    border-radius: 5px;
    border: 1px solid black;
}
#outSaida {
    margin: 0;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: yellow;
>>>>>>> beff02de2fc4c650c5a3059082c2ac26f9a30399
}